@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  background-color: #000000;
  color: #f6f6f6;
}

.header {
  padding: 2% 0% 0% 20%;
}

.header__menu {
  display: flex;
  gap: 5rem;
}

.header__menu__link {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: #22d4fd;
}

.header__menu__link:hover {
  color: #218ffc;
}

.container {
  padding: 3.9% 20%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.container__content {
  width: 38rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.container__content__title {
  font-family: "Krona One", sans-serif;
  font-weight: 400;
  font-size: 2.25rem;
  line-height: 3.5rem;
}

.title-emphasis {
  color: #22d4fd;
}

.container__content__text {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.25rem;
}

.text-keywords {
  color: #22d4fd;
}

.container__content__links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.container__content__links__subtitle {
  font-family: "Krona One", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
}

.container__content__links__link {
  border-radius: 0.5rem;
  border: 2px solid #22d4fd;
  width: 23.625rem;
  padding: 1rem 0;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.container__content__links__link:hover {
  background-color: #272727;
  border: 2px solid #218ffc;
}

.footer {
  padding: 1.5rem;
  background-color: #22d4fd;
  color: #000000;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
}
