@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  background-color: #000000;
  color: #f6f6f6;
  height: 100vh;
}

.container {
  margin: 10% 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container__content {
  width: 38rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.container__content__title {
  font-family: "Krona One", sans-serif;
  font-weight: 400;
  font-size: 2.25rem;
}

.title-emphasis {
  color: #22d4fd;
}

.container__content__text {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
}

.text-keywords {
  color: #22d4fd;
}

.container__content__links {
  display: flex;
  justify-content: space-between;
}

.container__content__links__link {
  background-color: #22d4fd;
  width: 17.5rem;
  padding: 1.344rem 0;
  text-align: center;
  border-radius: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  color: #000000;
}
